<footer class="main-footer">
    <div class="container">

        <div class="mega-footer">
            <div class="row">

                <div class="col-lg-6">
                    <div class="footer-about">
                        <figure>
                            <img src="/images/logo.svg" alt="">
                        </figure>
                        <p>Software Development & Digital Marketing Agency</p>
                        
                        <ul>
                            <li>
                                <a href="mailto:contact@fomaxdigitalsolution.com">
                                    contact@fomaxdigitalsolution.com
                                </a>
                            </li>
                            <li>
                                <a href="tel:9427927051">(+91) 9427927051</a>
                            </li>

                            
                        </ul>
                        
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="footer-links">
                        <h2>Pages</h2>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/services">Services</a></li>
                            <li><a href="/portfolio">Portfolio</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="footer-links">
                        <h2>Socials</h2>
                        <ul>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">LinkedIn</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="footer-links">
                        <h2>Services</h2>
                        <ul>
                            <li><a href="/services">Web Development</a></li>
                            <li><a href="/services">Digital Marketing</a></li>
                            <li><a href="/services">App Development</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="footer-copyright">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p>Copyright © 2025 Fomax Digital</p>
                    
                </div>

                
                <div class="col-lg-6 text-end">
                    <a href="#top">Go to top</a>
                </div>
            </div>
        </div>

    </div>
</footer>

<!-- JS -->
<script src="/js/jquery-3.7.1.min.js" ></script>
<script src="/js/bootstrap.min.js" defer></script>
<script src="/js/validator.min.js" defer></script>
<script src="/js/jquery.slicknav.js" defer></script>
<script src="/js/swiper-bundle.min.js" defer></script>
<script src="/js/jquery.waypoints.min.js" defer></script>
<script src="/js/jquery.counterup.min.js" defer></script>
<script src="/js/jquery.magnific-popup.min.js" defer></script>
<script src="/js/SmoothScroll.js" defer></script>
<script src="/js/gsap.min.js" defer></script>
<script src="/js/magiccursor.js" defer></script>
<script src="/js/SplitText.js" defer></script>
<script src="/js/ScrollTrigger.min.js" defer></script>
<script src="/js/function.min.js" defer></script>


