<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include('partials/head') %>
</head>

<body class="tt-magic-cursor">

<%- include('partials/header') %>

<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header-box">
                    <h1 class="text-anime-style-3">Services</h1>
                    <nav class="wow fadeInUp" data-wow-delay="0.25s">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Section -->
<div class="our-services page-service">
    <div class="container">
        <div class="row">

            <!-- Web Development -->
            <div class="col-lg-4 col-md-6">
                <div class="service-item wow fadeInUp">
                    <div class="service-content">
                        <div class="service-content-title">
                            <h2>Web Development</h2>
                            <img src="/images/arrow.svg" alt="">
                        </div>
                        <p>
                            • Web Design<br>
                            • Landing Page Design<br>
                            • E-commerce Development<br>
                            • Web Application Development
                        </p>
                    </div>
                    <div class="service-image">
                        <center class="image-anime">
                            <dotlottie-wc
                                src="https://lottie.host/e1592430-949b-48bf-950a-02c8635c887f/VpsPPUT03V.lottie"
                                style="width:300px;height:300px" autoplay loop>
                            </dotlottie-wc>
                        </center>
                    </div>
                </div>
            </div>

            <!-- Digital Marketing -->
            <div class="col-lg-4 col-md-6">
                <div class="service-item wow fadeInUp" data-wow-delay="0.25s">
                    <div class="service-content">
                        <div class="service-content-title">
                            <h2>Digital Marketing</h2>
                            <img src="/images/arrow.svg" alt="">
                        </div>
                        <ul>
                            <li>Social Media Marketing</li>
                            <li>SEO (Search Engine Optimization)</li>
                            <li>Google Ads</li>
                            <li>Facebook Ads</li>
                        </ul>
                    </div>
                    <div class="service-image">
                        <center class="image-anime">
                            <dotlottie-wc
                                src="https://lottie.host/d042a240-7c17-43da-bc5e-6d00fbd5d0a1/zU651xgrS6.lottie"
                                style="width:300px;height:300px" autoplay loop>
                            </dotlottie-wc>
                        </center>
                    </div>
                </div>
            </div>

            <!-- UI & Graphics -->
            <div class="col-lg-4 col-md-6">
                <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-content">
                        <div class="service-content-title">
                            <h2>UI & Graphics Design</h2>
                            <img src="/images/arrow.svg" alt="">
                        </div>
                        <p>
                            • Social Media Creatives<br>
                            • Business Cards & Catalogs<br>
                            • Mobile & Web UI Design<br>
                            • Wireframing & Prototyping
                        </p>
                    </div>
                    <div class="service-image">
                        <center class="image-anime">
                            <dotlottie-wc
                                src="https://lottie.host/f0145aff-25d3-4354-8379-efd887c40982/yP2YhYKbcv.lottie"
                                style="width:300px;height:300px" autoplay loop>
                            </dotlottie-wc>
                        </center>
                    </div>
                </div>
            </div>

            <!-- Domain Hosting -->
            <div class="col-lg-4 col-md-6">
                <div class="service-item wow fadeInUp" data-wow-delay="0.75s">
                    <div class="service-content">
                        <div class="service-content-title">
                            <h2>Domain • Hosting • Email</h2>
                            <img src="/images/arrow.svg" alt="">
                        </div>
                        <p>
                            • Web Hosting<br>
                            • Domain Registration<br>
                            • SSL Certificates<br>
                            • Business Email Solutions
                        </p>
                    </div>
                    <div class="service-image">
                        <center class="image-anime">
                            <dotlottie-wc
                                src="https://lottie.host/cdf4ce5e-f064-4075-8eed-2f245b3203ae/rfcomYUT8S.lottie"
                                style="width:300px;height:300px" autoplay loop>
                            </dotlottie-wc>
                        </center>
                    </div>
                </div>
            </div>

            <!-- Web Apps -->
            <div class="col-lg-4 col-md-6">
                <div class="service-item wow fadeInUp" data-wow-delay="1s">
                    <div class="service-content">
                        <div class="service-content-title">
                            <h2>Web App Development</h2>
                            <img src="/images/arrow.svg" alt="">
                        </div>
                        <p>
                            • Admin Dashboards<br>
                            • Billing Systems<br>
                            • Automation Tools<br>
                            • CRM Integration
                        </p>
                    </div>
                    <div class="service-image">
                        <center class="image-anime">
                            <dotlottie-wc
                                src="https://lottie.host/35e9126b-4151-4fcf-80e8-84278290625e/o0srfPlTM3.lottie"
                                style="width:300px;height:300px" autoplay loop>
                            </dotlottie-wc>
                        </center>
                    </div>
                </div>
            </div>

            <!-- App Development -->
            <div class="col-lg-4 col-md-6">
                <div class="service-item wow fadeInUp" data-wow-delay="1.25s">
                    <div class="service-content">
                        <div class="service-content-title">
                            <h2>App Development</h2>
                            <img src="/images/arrow.svg" alt="">
                        </div>
                        <p>
                            • iOS & Android Apps<br>
                            • API Integrations<br>
                            • Maintenance & Support<br>
                            • QA & Testing
                        </p>
                    </div>
                    <div class="service-image">
                        <center class="image-anime">
                            <dotlottie-wc
                                src="https://lottie.host/867774bb-2397-445d-a884-b8c2dc5bab0d/xB1m9c9eK2.lottie"
                                style="width:300px;height:300px" autoplay loop>
                            </dotlottie-wc>
                        </center>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include('partials/footer') %>

</body>
</html>
